@model HelmesAssignment.Entities.Models.FormSubmissionViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
        {
            <h3>Please enter your name and pick the Sectors you are currently involved in.</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SelectedSectors)
                @Html.DropDownListFor(m => m.SelectedSectors, Model.Sectors, new { multiple = "multiple", @class = "form-control full-width" })
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(m => m.AgreeToTerms, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.AgreeToTerms, new { @class = "form-check-label" })
            </div>

            <input type="submit" value="Save" />
        }
    </div>
</div>